.hero{
  background-image: url('img/slider1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 85vh;
  object-fit: cover;
}
/* Media query for screens smaller than a certain width */
@media (max-width: 768px) {
  .hero {
    background-image: url('img/small-bg.jpg'); /* New background image for smaller screens */
  }
}